[Unit]
Description=ResoFly Thermal Server (Python Receiver)
After=network.target

[Service]
User=team13
WorkingDirectory=/home/team13/RESOFLY
Environment=PYTHONUNBUFFERED=1
ExecStart=/usr/bin/python3 thermal_server.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
