[Unit]
Description=RESOFLY Service
After=network.target

[Service]
User=team13
WorkingDirectory=/home/team13/RESOFLY/backend
ExecStart=/usr/bin/python3 server.py
Restart=always
RestartSec=10
Environment=PORT=5000
Environment=CAMERA_SOURCE=proxy
# Add any other env vars here

[Install]
WantedBy=multi-user.target
